<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="NTUST.BulkMail.Services.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <NTUST.BulkMail.Services.Properties.Settings>
            <setting name="NTUST_BulkMail_Services_NtustMember_Service1"
                serializeAs="String">
                <value>https://dss18.ntust.edu.tw/ntustws/service1.asmx</value>
            </setting>
            <setting name="NTUST_BulkMail_Services_NtustStudent_StuData"
                serializeAs="String">
                <value>https://dss18.ntust.edu.tw/ntustws/Studata.asmx</value>
            </setting>
        </NTUST.BulkMail.Services.Properties.Settings>
    </applicationSettings>
</configuration>