@{
    ViewBag.Title = "Home Page";
}

<div id="app">
    <button type="button" class="btn btn-primary" v-on:click="getData()">測試</button>
</div>

<link rel="stylesheet" href="~/Styles/sweetalert2.css" />

<script type="text/javascript" src="~/Scripts/jquery-3.4.1.js"></script>
<script type="text/javascript" src="~/Scripts/vue.js"></script>
<script type="text/javascript" src="~/Scripts/App/Area/BulkMail/bulimail.js"></script>
<script type="text/javascript" src="~/Scripts/sweetalert2.js"></script>