@{
    ViewBag.Title = "Home Page";
}

<div id="app" class="content-wrapper">
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">教職員</h3>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="id">Id:</label>
                                <input type="text" class="form-control" id="id" v-model="id">
                            </div>
                            <div class="form-group">
                                <label for="semester">Semester:</label>
                                <input type="text" class="form-control" id="semester" v-model="semester">
                            </div>
                        </div>
                        <!-- /.card-body -->
                        <div class="card-footer">
                            <button type="button" class="btn btn-primary" v-on:click="CreateStafferMember()">更新資料庫資料</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">在校學生</h3>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="id">Id:</label>
                                <input type="text" class="form-control" id="id" v-model="pnowcondition">
                            </div>
                        </div>
                        <!-- /.card-body -->
                        <div class="card-footer">
                            <button type="button" class="btn btn-primary" v-on:click="CreateStudentData()">更新資料庫資料</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">畢業學生</h3>
                        </div>
                        <!-- /.card-body -->
                        <div class="card-footer">
                            <button type="button" class="btn btn-primary" v-on:click="CreateAlumnusData()">更新資料庫資料</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">產生大宗郵件收件人</h3>
                        </div>
                        <!-- /.card-body -->
                        <div class="card-footer">
                            <button type="button" class="btn btn-primary" v-on:click="GenerateMailGroupFile()">產生大宗郵件收件人</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">產生大宗郵件收件人別名</h3>
                        </div>
                        <!-- /.card-body -->
                        <div class="card-footer">
                            <button type="button" class="btn btn-primary" v-on:click="GenerateAliasesFile()">產生大宗郵件收件人別名</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">Unicode</h3>
                        </div>
                        <!-- /.card-body -->
                        <div class="card-footer">
                            <button type="button" class="btn btn-primary" v-on:click="OpenCreateUnicodeModal()">新增Unicode</button>
                            <button type="button" class="btn btn-primary" v-on:click="OpenUnicodeModal()">修改Unicode</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">發送佈告欄</h3>
                        </div>
                        <!-- /.card-body -->
                        <div class="card-footer">
                            <button type="button" class="btn btn-primary" v-on:click="SendBulletinBoard()">發送</button>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="modal-xl">
                    <div class="modal-dialog modal-xl">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">Unicode</h4>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <table id="unicode" class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th scope="col">序號</th>
                                            <th scope="col">tunitcode</th>
                                            <th scope="col">單位</th>
                                            <th scope="col">unitcode</th>
                                            <th scope="col">功能</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="(item,i) in unicodePageList.ItemList">
                                            <th scope="row">{{ i + unicodePageList.FirstItemOnPage }}</th>
                                            <td>{{item.tunitcode}}</td>
                                            <td>{{item.unit}}</td>
                                            <td>{{item.unitcode1}}</td>
                                            <td>
                                                <button type="button" class="btn btn-warning" v-on:click="editUnicode(item.tunitcode, item.unitcode1)">編輯</button>
                                                <button type="button" class="btn btn-danger" v-on:click="deleteUnicode(item.tunitcode, item.unitcode1)">刪除</button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="modal-footer justify-content-between">
                                <button type="button" class="btn btn-default" data-dismiss="modal">關閉</button>
                            </div>
                        </div>
                        <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                </div>
                <!-- /.modal -->
                <div class="modal fade" id="createModal">
                    <div class="modal-dialog modal-xl">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">Unicode</h4>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="card-body">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">tunitcode</label>
                                        <input type="text" class="form-control" id="exampleInputEmail1" placeholder="tunitcode" maxlength="4" v-model="unicodeData.tunitcode">
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputPassword1">單位</label>
                                        <input type="text" class="form-control" id="exampleInputPassword1" placeholder="單位" v-model="unicodeData.unit">
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputPassword1">unitcode</label>
                                        <input type="text" class="form-control" id="exampleInputPassword1" placeholder="unitcode" maxlength="4" v-model="unicodeData.unitcode1">
                                    </div>
                                </div>
                                <!-- /.card-body -->
                            </div>
                            <div class="modal-footer justify-content-between">
                                <button type="button" class="btn btn-default" data-dismiss="modal">關閉</button>
                                <button type="button" class="btn btn-primary" v-on:click="createUnicodeData()">儲存</button>
                            </div>
                        </div>
                        <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                </div>
                <!-- /.modal -->
                <div class="modal fade" id="editModal">
                    <div class="modal-dialog modal-xl">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">Unicode</h4>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="card-body">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">tunitcode</label>
                                        <input type="text" class="form-control" id="exampleInputEmail1" placeholder="tunitcode" maxlength="4" v-model="unicodeData.tunitcode">
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputPassword1">單位</label>
                                        <input type="text" class="form-control" id="exampleInputPassword1" placeholder="單位" v-model="unicodeData.unit">
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputPassword1">unitcode</label>
                                        <input type="text" class="form-control" id="exampleInputPassword1" placeholder="unitcode" maxlength="4" v-model="unicodeData.unitcode1">
                                    </div>
                                </div>
                                <!-- /.card-body -->
                            </div>
                            <div class="modal-footer justify-content-between">
                                <button type="button" class="btn btn-default" data-dismiss="modal">關閉</button>
                                <button type="button" class="btn btn-primary" v-on:click="updateUnicodeData()">儲存</button>
                            </div>
                        </div>
                        <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                </div>
                <!-- /.modal -->
                <div class="modal fade" id="mailModal">
                    <div class="modal-dialog modal-xl">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title"></h4>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="card-body">
                                    <table id="mail" class="table table-bordered table-striped">
                                        <thead>
                                            <tr>
                                                <th scope="col">群組名稱</th>
                                                <th scope="col">功能</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr v-for="(item,i) in mailgroup">
                                                <td>
                                                    <label for="inputPassword3" class="col-form-label"
                                                           style="cursor: pointer; color: #0079f8 !important; text-decoration: underline;" v-on:click="getMailList(item.name)">{{item.name}}</label>
                                                </td>
                                                <td>
                                                    <button type="button" class="btn btn-warning" v-on:click="addEMailToGroup(item)">加入收件人</button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <!-- /.card-body -->
                            </div>
                            <div class="modal-footer justify-content-between">
                                <button type="button" class="btn btn-default" data-dismiss="modal">關閉</button>
                            </div>
                        </div>
                        <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                </div>
                <!-- /.modal -->
                <div class="modal fade" id="mailEditModal">
                    <div class="modal-dialog modal-xl">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title"></h4>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="card-body">
                                    <table id="mailList" class="table table-bordered table-striped">
                                        <thead>
                                            <tr>
                                                <th scope="col">姓名</th>
                                                <th scope="col">信箱</th>
                                                <th scope="col">功能</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr v-for="(item,i) in mailgroupList">
                                                <td>
                                                    <label for="inputPassword3" class="col-form-label">{{item.name}}</label>
                                                </td>
                                                <td>
                                                    <label for="inputPassword3" class="col-form-label">{{item.mail}}</label>
                                                </td>
                                                <td>
                                                    <button type="button" class="btn btn-warning" v-on:click="addEMailToGroup(item)">加入收件人</button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <!-- /.card-body -->
                            </div>
                            <div class="modal-footer justify-content-between">
                                <button type="button" class="btn btn-default" data-dismiss="modal">關閉</button>
                            </div>
                        </div>
                        <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                </div>
                <!-- /.modal -->
                <div class="col-md-12">
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">寄信</h3>
                        </div>
                        <div class="card-body">
                            <div class="form-group row">
                                <label for="inputEmail3" class="col-sm-2 col-form-label">寄件人</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="inputEmail3" readonly v-model="mail.sender">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="inputPassword3" class="col-sm-2 col-form-label"
                                       style="cursor: pointer; color: #0079f8 !important; text-decoration: underline;" v-on:click="OpenMailAddressee()">收件人</label>
                                <div class="col-sm-10">
                                    <vue-multiselect v-model="mail.receiver" :options="mailgroup" :multiple="true" placeholder="Select one" label="name" track-by="name"></vue-multiselect>
                                    @*<select class="select2" multiple="multiple" data-placeholder="請選擇收件人" style="width: 100%;" v-model="test123">
                    <option v-for="item in mailgroup" :value="item.name">{{item.name}}</option>
                </select>*@
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="inputPassword3" class="col-sm-2 col-form-label">標題</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="inputPassword3" v-model="mail.subject">
                                </div>
                            </div>
                            <div id="actions" class="row">
                                <div class="col-lg-6">
                                    <div class="btn-group w-100">
                                        <span class="btn btn-success col fileinput-button">
                                            <i class="fas fa-plus"></i>
                                            <span>附加檔案</span>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-lg-6 d-flex align-items-center">
                                    <div class="fileupload-process w-100">
                                        <div id="total-progress" class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0">
                                            <div class="progress-bar progress-bar-success" style="width:0%;" data-dz-uploadprogress></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="table table-striped files" id="previews">
                                <div id="template" class="row mt-2">
                                    <div class="col-auto">
                                        <span class="preview"><img src="data:," alt="" data-dz-thumbnail /></span>
                                    </div>
                                    <div class="col d-flex align-items-center">
                                        <p class="mb-0">
                                            <span class="lead" data-dz-name></span>
                                            (<span data-dz-size></span>)
                                        </p>
                                        <strong class="error text-danger" data-dz-errormessage></strong>
                                    </div>
                                    <div class="col-4 d-flex align-items-center">
                                        <div class="progress progress-striped active w-100" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0">
                                            <div class="progress-bar progress-bar-success" style="width:0%;" data-dz-uploadprogress></div>
                                        </div>
                                    </div>
                                    <div class="col-auto d-flex align-items-center">
                                        <div class="btn-group">
                                            <button class="btn btn-primary start">
                                                <i class="fas fa-upload"></i>
                                                <span>上傳</span>
                                            </button>
                                            <button data-dz-remove class="btn btn-warning cancel">
                                                <i class="fas fa-times-circle"></i>
                                                <span>取消</span>
                                            </button>
                                            <button data-dz-remove class="btn btn-danger delete">
                                                <i class="fas fa-trash"></i>
                                                <span>刪除</span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <textarea id="summernote" v-model="value1"></textarea>
                            <div class="card-footer">
                                <button type="button" class="btn btn-primary" v-on:click="SendMail()">寄信</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!--<div class="col-sm-6">-->
                <!-- Select multiple-->
                <!--<div class="form-group">
            <select class="custom-select">
                <option v-for="item in mailgroup" :value="item.name">{{item.name}}</option>
            </select>
        </div>
    </div>-->
                @*<div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">大宗郵件</h3>
                </div>
                <div class="card-body">
                    <table id="bulkmail" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th scope="col">序號</th>
                                <th scope="col">姓名</th>
                                <th scope="col">單位</th>
                                <th scope="col">E-Mail</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(item,i) in pageList.ItemList">
                                <th scope="row">{{ i + pageList.FirstItemOnPage }}</th>
                                <td>{{item.name}}</td>
                                <td>{{item.unit}}</td>
                                <td>{{item.email}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>*@
            </div>
        </div>
    </section>
</div>
