@{
    ViewBag.Title = "Home Page";
}

<div id="app" class="content-wrapper">
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">教職員</h3>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="id">Id:</label>
                                <input type="text" class="form-control" id="id" v-model="id">
                            </div>
                            <div class="form-group">
                                <label for="semester">Semester:</label>
                                <input type="text" class="form-control" id="semester" v-model="semester">
                            </div>
                        </div>
                        <!-- /.card-body -->
                        <div class="card-footer">
                            <button type="button" class="btn btn-primary" v-on:click="CreateStafferMember()">更新資料庫資料</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">在校學生</h3>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="id">Id:</label>
                                <input type="text" class="form-control" id="id" v-model="pnowcondition">
                            </div>
                        </div>
                        <!-- /.card-body -->
                        <div class="card-footer">
                            <button type="button" class="btn btn-primary" v-on:click="CreateStudentData()">更新資料庫資料</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">畢業學生</h3>
                        </div>
                        <!-- /.card-body -->
                        <div class="card-footer">
                            <button type="button" class="btn btn-primary" v-on:click="CreateAlumnusData()">更新資料庫資料</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">GenerateMailGroupFile</h3>
                        </div>
                        <!-- /.card-body -->
                        <div class="card-footer">
                            <button type="button" class="btn btn-primary" v-on:click="GenerateMailGroupFile()">GenerateMailGroupFile</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">GenerateAliasesFile</h3>
                        </div>
                        <!-- /.card-body -->
                        <div class="card-footer">
                            <button type="button" class="btn btn-primary" v-on:click="GenerateAliasesFile()">GenerateAliasesFile</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">Unicode</h3>
                        </div>
                        <!-- /.card-body -->
                        <div class="card-footer">
                            <button type="button" class="btn btn-primary" v-on:click="OpenUnicodeModal()">新增修改Unicode</button>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="modal-xl">
                    <div class="modal-dialog modal-xl">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">Unicode</h4>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <table id="unicode" class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th scope="col">序號</th>
                                            <th scope="col">tunitcode</th>
                                            <th scope="col">單位</th>
                                            <th scope="col">unitcode</th>
                                            <th scope="col">功能</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="(item,i) in unicodePageList.ItemList">
                                            <th scope="row">{{ i + unicodePageList.FirstItemOnPage }}</th>
                                            <td>{{item.tunitcode}}</td>
                                            <td>{{item.unit}}</td>
                                            <td>{{item.unitcode1}}</td>
                                            <td>
                                                <button type="button" class="btn btn-warning" v-on:click="editUnicode(item.tunitcode, item.unitcode1)">編輯</button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="modal-footer justify-content-between">
                                <button type="button" class="btn btn-default" data-dismiss="modal">關閉</button>
                                <button type="button" class="btn btn-primary">儲存</button>
                            </div>
                        </div>
                        <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                </div>
                <!-- /.modal -->
                <div class="modal fade" id="editModal">
                    <div class="modal-dialog modal-xl">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">Unicode</h4>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="card-body">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">tunitcode</label>
                                        <input type="text" class="form-control" id="exampleInputEmail1" placeholder="tunitcode" maxlength="4" v-model="unicodeData.tunitcode">
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputPassword1">單位</label>
                                        <input type="text" class="form-control" id="exampleInputPassword1" placeholder="單位" v-model="unicodeData.unit">
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputPassword1">unitcode</label>
                                        <input type="text" class="form-control" id="exampleInputPassword1" placeholder="unitcode" maxlength="4" v-model="unicodeData.unitcode1">
                                    </div>
                                </div>
                                <!-- /.card-body -->
                            </div>
                            <div class="modal-footer justify-content-between">
                                <button type="button" class="btn btn-default" data-dismiss="modal">關閉</button>
                                <button type="button" class="btn btn-primary" v-on:click="updateUnicodeData()">儲存</button>
                            </div>
                        </div>
                        <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                </div>
                <!-- /.modal -->
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">大宗郵件</h3>
                        </div>
                        <div class="card-body">
                            <table id="bulkmail" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th scope="col">序號</th>
                                        <th scope="col">姓名</th>
                                        <th scope="col">單位</th>
                                        <th scope="col">E-Mail</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="(item,i) in pageList.ItemList">
                                        <th scope="row">{{ i + pageList.FirstItemOnPage }}</th>
                                        <td>{{item.name}}</td>
                                        <td>{{item.unit}}</td>
                                        <td>{{item.email}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
